.chars {
    color: orangered;
}

/* align cv to center of page */
.wrapper {
    padding       : 0;
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.resume {
    display: grid;
    margin-top: 20px;

    /* this is like 8.5in */
    /* width: 1260px;  */

    /* make width unChange able - fixed size */
    width: 900px; 

    /* make hieght grows with content added */
    height: fit-content;

    /* and this like 11in */
    /* height: 1630.588px; */
    

    /* hardcoded purely for codepen example */
    grid-template-columns: 1fr 2fr;
    grid-template-rows   : 1fr 1fr 1fr 1fr;
    box-shadow           : 0 5px 9px 0 rgba(0, 0, 0, 0.35);

    /* THIS IS THE SHAPE OF THE RESUME!!! */
    grid-template-areas  : 
        "name work"
        "about work"
        "community photo"
        "education skills";
}

.grid-area {
    /* padding: 1em 1em 1em 1em; */
    padding: 0 0;
    
    border : 1px black solid;
}

.name {
    grid-area: name;
    background-color: white;

}

.photo {
    grid-area       : photo;
    background-color: white;
}

.about {
    grid-area       : about;
    background-color: white;
}

.work {
    grid-area: work;
    background-color: white;
}

.skills {
    grid-area:skills;
    background-color: white;
}

.education {
    grid-area       : education;
    background-color: white;
}

.community {
    grid-area: community;
    background-color: white;
}

.articles {
    color:gray;
    size: 12px;
}

.contentSpaces {
    /* margin-top: 3px; */
    display: block;
    font-size: 13px;
}

.spaceInline {
    /* the size exactly as beamjobs resume */
    font-size: 25.92px;

    /* the font of the full name in beamjobs resume */
    font-family: 'Exo 2';
}

.spaces {
    margin-left: 7px;
    margin-top: 5px;
}