.register {
    height: 100vh;
    width: 100vw;
    display: inline;
    align-items: center;
    justify-content: center;
  }
  .register__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #dcdcdc;
    padding: 30px;
  }
  .register__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .register__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: black;
  }
  .register__google {
    background-color: #4285f4;
  }
  .register div {
    margin-top: 7px;
  }

  .registerStyle {
    margin: 10% 40%;
  }

  .registerForm {
   
    background-color:white;
    padding: 60px;
    margin: 5rem auto;
    width: 290px;
    border-radius: 30px;
    opacity: 0.85;
    text-align: center;
} 