.engine {
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(147,237,241,1) 100%);
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  text-align: center;
  align-content: flex-start;
}

  @media screen and (max-width: 425px) {
    .engine   
    {
      width: 520px;
    };
  } 

  @media screen and (max-width: 255px) {
    .engine   
    {
      width: 425px;
    };
  } 

.styleHeader{
  font-family: 'Itim';
  font-size: 45px;
  margin-bottom: 60px;
  background: -webkit-linear-gradient(80deg, rgb(255, 233, 107) 0%, white  100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.headersStyle {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.symbolStyle {
  margin-top: 20px;
}

.both {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 120px;
  align-items: flex-end;
}