.errorNoAccountContainer{
    background: rgb(243,0,0);
    background: linear-gradient(90deg, rgba(243,0,0,1) 0%, rgba(121,105,9,1) 35%, rgba(0,198,255,1) 100%);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Itim';
    height: 601px;
    font-size: 30px;
    text-align: center;

}

.mesStyle {
    font-size: 50px;
    background: white;
    background-clip: text;

    /* background: rgb(237,235,99); */


    -webkit-text-fill-color: transparent;
}

.createLinkStyle {
    font-size: 20px;
    border-bottom: 2px solid transparent;
}

.createLinkStyle:hover {
    color: rgb(51, 250, 51);
    border-bottom:2px solid transparent ;
    font-size: 20px;
}