.createResumeContainer {
    /* background-color: blue; */
    background: linear-gradient(90deg, rgb(131, 99, 206) 50%, rgb(132, 193, 233) 100%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.formInputContainer {
    /* background-color: chartreuse; */
    color:darkgoldenrod;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.inputsFieldsContainer{
    background-color: white;

    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: stretch;
    width: 280px;
    height: 1700px;
    margin: auto;
    text-align: center;
    justify-content: space-evenly;
    margin: 20px auto;
}



/* align cv to center of page */
.wrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: chartreuse; */
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto;
}

.showResumeStyle {
    /* background-color: darkmagenta; */
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.resume {
    display: grid;
    margin: 10px;
    background-color: white;

    /* this is like 8.5in */
    /* width: 1260px;  */

    /* make width unChange able - fixed size */
    width: 613px; 

    /* make hieght grows with content added */
    height: 792px;

    /* and this like 11in */
    /* height: 1630.588px; */
    

    /* hardcoded purely for codepen example */
    grid-template-columns: 1fr 2fr;
    grid-template-rows   : 1fr 1fr;
    box-shadow           : 0 5px 9px 0 rgba(0, 0, 0, 0.35);

    /* THIS IS THE SHAPE OF THE RESUME!!! */
    grid-template-areas  : 
        "name work"
        "education sideProjects"
        "relevantCourses skills";
}

.grid-area {
    /* padding: 1em 1em 1em 1em; */
    /* padding: 0 0; */
    background-color: white;
    border: none;
    text-align: center;
    align-content: flex-start;
    /* border : 1px red solid; */
}

.name {
    grid-area: name;
    background-color: white;
    text-align: center;
    margin: inherit;
    grid-area: name;
    background-color: white;
    text-align: center;
    margin: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 30px;
    margin-top: 30px;

}


.work {
    grid-area: work;
    background-color: white;
    text-align: center;
    margin: inherit;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 30px;
    margin-top: 30px;

    text-align: inherit;
}

.skills {
    grid-area:skills;
    background-color: white;
    text-align: center;
    margin: inherit;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 30px;
    margin-top: 30px;

    text-align: inherit;
}

.education {
    grid-area       : education;
    background-color: white;
    text-align: center;
    margin: inherit;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 30px;
    margin-top: 30px;

    text-align: inherit;
}

.sideProjects {
    grid-area: community;
    background-color: white;
    text-align: center;
    margin: inherit;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 30px;
    margin-top: 30px;

    text-align: inherit;
}

.relevantCourses {
    grid-area: relevantCourses;
    background-color: white;
    text-align: center;
    margin: inherit;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 30px;
    margin-top: 30px;
    text-align: inherit;
}


.contentSpaces {
    /* margin-top: 3px; */
    display: block;
    font-size: 13px;
}

.spaceInline {
    /* the size exactly as beamjobs resume */
    font-size: 25.92px;

    /* the font of the full name in beamjobs resume */
    font-family: 'Exo 2';
}

.spaces {
    margin-left: 7px;
    margin-top: 5px;
}

.buttonsStyle {
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}