.createResumeContainer {
    /* background-color: blue; */
    background: linear-gradient(90deg, rgb(131, 99, 206) 50%, rgb(132, 193, 233) 100%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    
    border: none;
    min-width: 800px;
}

.resume {
    /* display: inline-grid; */
    margin-top: 0.5px;
    font-size: 20px;
    background-color: rgb(246, 246, 249);
    border: none;
    flex-direction: column;
    flex-wrap: wrap;
    /* sizes exactly like beamjobs */
    width: 790px;

    /* min height effects the footer part of the paper before print */
    min-height: 11.6in;

    /* margin: 20px auto; */
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.35);
    grid-template-areas:
        "name work";
}

.name {
    grid-area: name;
    
    background-color: rgb(250, 245, 245);
    text-align: center;

    border: none;
   
    flex-direction: column;
    justify-content: flex-start;
    /* align-content: center; */
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: inherit;

    /* margin-left: 18px; */
}


.work {
    grid-area: work;
    /* background-color: greenyellow; */
    text-align: center;
    
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    text-align: inherit;
    /* margin-left: 18px; */
    align-items: flex-start;
}

.firstGroup {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: stretch;
    margin-left: 15px;
}

.afterSquareGroup {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* margin-left: 15px; */
    align-items: center;

}

.square {
    background-color: rgb(103 168 237);;
    min-height: 6cm;
    /* width: 7cm; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: column;
    
}

.buttonsStyle {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

/* allow fonts of pdfexport kendu react */

.pdfFonts {
    font-family: "Arial", "Lato", "Rubik", "Exo", "DejaVu Sans" ,sans-serif;
}
/* "DejaVu Sans" */

@font-face {
    font-family: "DejaVu Sans";
    font-weight: bold;
    color:white;
    background-color: white;
    src: url("https://kendo.cdn.telerik.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "DejaVu Sans";
    font-weight: bold;
    color:white;
    background-color: white ;
    font-style: italic;
    src: url("https://kendo.cdn.telerik.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf") format("truetype");
}

/* SAVED CLASS NAME - MUI ICONS */
.css-1oe4rwd-MuiSvgIcon-root{
  color:black;
}


/* SAVED CLASS NAME -  KENDO REACT PDF */
.k-pdf-export {
   font-weight: normal; 
}

[contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    color: whitesmoke;
    opacity: 50%;
}

  [contenteditable]:focus {
    outline: 0px solid transparent;
}

input:focus{
    outline: none;
    
}

/* a {
    
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0px;
    display:none;
    
    flex-direction: row;
    flex-wrap: nowrap;
    align-content:normal;
    justify-content: normal;
    align-items: normal;
    padding: 0px;
    text-decoration: none;
    border:none;
} */