.mainContainer {
  /* background-color: blue; */
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.loginForm {
  /* background-color: #771442; */
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.loginFormContainer {
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch;
  height: 480px;
  width: 320px;
  margin: auto;
  text-align: center;
  justify-content: space-evenly;
}

.textContainer {
  /* background-color: aqua; */
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: 'Rubik', serif;
}

.textStyle {
  /* font-size: 70px; */
  background: -webkit-linear-gradient(45deg, #ffffff, #efe691  100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}