.mainContainer {
  background: linear-gradient(170deg, rgb(80, 114, 181) 65%, rgb(17, 189, 205) 100%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

@media screen and (max-width: 425px) {
  .mainContainer  
  {
    width: 520px;
  }; 
} 

@media screen and (max-width: 255px) {
  .mainContainer  
  {
    width: 425px;
  };
} 

.loginForm {
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 503px;
}

.loginFormContainer {
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch;
  height: 450px;
  width: 320px;
  margin: auto;
  text-align: center;
  justify-content: space-evenly;
}

.textContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-bottom: 90px;
  font-family: 'Itim', serif;
}

.textStyle {
  background: -webkit-linear-gradient(80deg, rgb(255, 233, 107) 0%, white  100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.homeStyle {
  display: flow-root;
  border-bottom: none;
  width: 23px;
  height: 23px;
}

.homeStyle:hover{
  color: rgb(255, 238, 0);
  display: flow-root;
  border-bottom: none;
}