.mainContainer {
  /* background-color: blue; */
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.loginFormContainer {
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width:290px ;
  height: 390px;
}

.textFieldStyle {
  border-radius: 2px;
  margin: 10px auto;
}

.inputStyle {
  background-color: rgb(177, 186, 223);
  padding: 13px 12px;
}

.textContainer {
  /* background-color: aqua; */
  text-align: center;
}

.textStyle {
  font-size: 60px;
  background: -webkit-linear-gradient(45deg, #c45aeb, #771442 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}