.allResumesContainer {
    background: rgb(237,108,2);
    background: linear-gradient(162deg, rgb(237, 143, 2) 0%, rgb(3, 153, 228) 65%);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items:center;
    font-size: 22px;
    border: none;
    /* min-width: 710px; */
}

.liStStyle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

.olStyle {
    display: contents;
}

.hideButtonStyle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.resumesShowStyle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.threeButtonsStyle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
}

.headersContainer {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 15px;
}

/* align cv to center of page */

.resume {
    display: inline-grid;
    margin-top: 0.5px;
    font-size: 20px;
    background-color: rgb(246, 246, 249);
    border: none;
    flex-direction: column;
    flex-wrap: wrap;
    /* sizes exactly like beamjobs */
    width: 790px;
    min-height: 11.65in;
    
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.35);
    grid-template-areas:
        "name work";
}

.name {
    grid-area: name;
    background-color: rgb(250, 245, 245);
}

.work {
    grid-area: work;
    background-color: white;
}

.firstHeader {
    font-size: 45px
}

@media screen and (max-width: 680px) {
    .firstHeader 
    {
      font-size: 40px;
    }; 
  }  

  @media screen and (max-width: 600px) {
    .firstHeader 
    {
      font-size: 33px;
    }; 
  }