.aboutContainer {
    display: flex;
    background: rgb(63,94,251);
    background: linear-gradient(73deg, rgb(45, 62, 146) 0%, rgb(62, 20, 85) 100%);
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: 'Itim';
    font-size: 20px;
    /* heigth:450px */
}

@media screen and (max-width: 425px) {
  .aboutContainer  
  {
    width: 520px;
  }; 
}  

@media screen and (max-width: 255px) {
  .aboutContainer  
  {
    width: 425px;
  }; 
} 

.bold-span {font-weight: bold;}

.allText{
  text-align: center;
}

.aboutButton {
  text-align: center;
  margin-bottom: 20px;
}

.textStyle {
    background: -webkit-linear-gradient(80deg, rgb(255, 233, 107) 0%, white  100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }  

  .symbolAndText {
    margin-top: 30px;
    margin-bottom: 30px;
  }