.wrapTodo {
  /* background-color: aqua; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bulletStyle {
  width: 420px;
}

/* allow to move line by enter and display bullet for every start line */
.listBullet {
  display: list-item;
  margin-left : 1em;
  outline: none;

  /* manipulate style here */
  font-size: 15px;
  font-family: 'Itim';
  margin-bottom: 20px;

  /* limit the width */
  width: 420px;
}

/* when type enter and move line - will display bullet */
/* other css props not working here */
.listBullet div {
  display: list-item;
}

.box {
  margin-bottom: 1px;
  /* background-color: aqua; */
  padding-right: 2px;
  width: fit-content;
}

.btn-box {
  width: 20px;
  display: inline;
  /* padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px; */
}

.notdisplayed {
  display: none;
}

.displayed {
  display: inline-block;
}

.inputStyle {
  border: none;
  resize: none;
  overflow: hidden;
  width: 420px;
  font-size: 18px;
}

.inputStyle:focus {
  outline: none;
  resize: none;
  overflow: hidden;
}

.listBullet {
  display: list-item;
  margin-left: 1em;
  outline: none;
  border: none;

  /* manipulate style here */
  font-size: 15px;
  font-family: 'Itim';
  margin-bottom: 20px;

  /* limit the width */
  width: 420px;
}

.listBullet input {
  display: list-item;
}

.bulletStyle {
  /* background-color: aqua; */

  width: 420px;
}

/* allow to move line by enter and display bullet for every start line */
.listBullet {
  display: list-item;
  margin-left: 1em;
  outline: none;

  /* manipulate style here */
  font-size: 15px;
  font-family: 'Itim';
  margin-bottom: 20px;
  margin-left: 17px;

  /* limit the width */
  width: 420px;
}

/* when type enter and move line - will display bullet */
/* other css props not working here */
.listBullet div {
  display: list-item;
}