.contactContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-family: 'Itim';
    background: rgb(251,173,63);
    font-size: 20px;
    background: linear-gradient(73deg, rgb(163, 98, 7) 0%, rgb(199, 53, 13) 100%);
}

@media screen and (max-width: 425px) {
    .contactContainer  
    {
      width: 520px;
    };   
} 

@media screen and (max-width: 255px) {
    .contactContainer  
    {
      width: 425px;
    };   
} 

.textsContainerContact{
    font-size: 25px;
}

.textBoxContainer{
    text-align: center;
    height: 450px;
    margin-bottom: 60px;
}

.shortText{
    font-size: 30px;
    background: -webkit-linear-gradient(80deg, rgb(255, 233, 107) 0%, white  100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}