.createResumeContainer {
    background: linear-gradient(90deg, rgb(131, 99, 206) 50%, rgb(132, 193, 233) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    min-width: 800px;     
}
   
.resume {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    background-color: rgb(246, 246, 249);
    border: none;
    width: 800px;
    min-height: 11.75in;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.35);
}

.name, .work {
    text-align: left;
    border: none;
    /* display: flex; */
    flex-direction: column;
    margin-left: 20px;
    /* justify-content: center;
    align-items: center; */
    /* padding: 15px; */
    align-content: flex-start;
}

.name {
    background-color: rgb(242, 234, 234);
}

.firstGroup, .afterSquareGroup {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
    align-content: flex-start;
    /* align-items: center; */
}

.square {
    background-color: #87c8d2;
    min-height: 2cm;
    color:black;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.buttonsStyle {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    
    background-color: rgb(95, 85, 104);
}

/* allow fonts of pdfexport kendo react ui */
/* .pdfFonts {
    font-family: "Arial", "Lato", "Rubik", "Exo", "DejaVu Sans" ,sans-serif;
} */

@font-face {
    font-family: "DejaVu Sans";
    font-weight: bold;
    color:white;
    background-color: white;
    src: url("https://kendo.cdn.telerik.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "DejaVu Sans";
    font-weight: bold;
    color:white;
    background-color: white ;
    font-style: italic;
    src: url("https://kendo.cdn.telerik.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf") format("truetype");
}

/* SAVED CLASS NAME - MUI ICONS */
/* .css-1oe4rwd-MuiSvgIcon-root{
  color:black;
} */


/* SAVED CLASS NAME -  KENDO REACT PDF */
/* .k-pdf-export {
   font-weight: normal; 
} */

.forFirstGroup [contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    color: rgb(0, 0, 0);
    opacity: 50%;
}

.forSecondGroup [contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    color: black;
    opacity: 40%;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

input:focus{
    outline: none; 
}

.iconAndInputs {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
}

.sendtoStyle {
    width: 600px;
    font-size: 19px;
    background-color: rgb(213, 244, 242);
    color: rgb(11, 31, 127);
    padding: 0.2rem;
    line-height: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    display: flex;
    margin-top: 30px;
    height: 25px;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: stretch;
    font-weight: bold;
   /* make the writing marker of an input to be center vertically */
    line-height: normal; 
}

.sendtoStyle:focus {
    border: 3px solid rgb(0, 157, 255);
    /* avoid the paper/input to move up/down after focus */
    margin-bottom: 11px;
    margin-top: 27px;
    padding: 0.25rem; 
}