header {
    width: 100%;
    font-family:-webkit-pictograph ;
    font-family: 'Itim', serif;
    /* margin-bottom: 20px; */
   
  }
  
  .main-header {
      height: 3rem;
      width: 100%;
      display: flex;
      font-size: 20px;
      justify-content:start;
      align-items: center;
      font-family: 'Itim', serif;
      /* position:fixed; */
      margin-bottom: 5px;
      z-index: 12;
      /* color:gray; */
      background: rgb(75,66,59);
      background: linear-gradient(162deg, rgb(99, 88, 80) 0%, rgb(54, 108, 158) 70%);
    }
  
    a {
      color:rgb(255, 255, 255);
      text-decoration:none;
      margin: 10px;
      display: flex;
      font-size: 17px;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      padding: 4px;
      text-decoration: none;
      border: 2px solid transparent;
    }
  
    a.active {
      border-bottom: 2px solid white;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      padding: 4px;
      transition: width .3s;
      /* border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px; */
    }
  
    a:hover {
      /* border-bottom: 2px solid white; */
      display: flex;
      padding: 4px;
      font-size: 17px;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      transition: width .3s;
      color: yellow;
    }
    
    .main-header nav {
      height: 100%;
      /* width: 100%; */
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .main-header ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .main-header li {
      padding: 0;
      margin: 0 1.5rem;
    }