/* Colors */

.blackColor {
    color: rgb(20, 3, 35);
}

.lightBlueColor {
    color: rgb(0, 128, 255);
}

.hardalColor {
    color: rgb(199, 126, 22);
}

.grassColor {
    color: rgb(72, 159, 72);
}

.purpleColor {
    color:rgb(88, 41, 133);
}

.boodColor {
    color:rgb(142, 40, 40);
}

.lightGreenColor {
    color:rgb(79, 145, 147);
}

.professionalBlueColor {
    color: #007bff;
}

.oldGreenColor {
    color:rgb(89, 110, 52);
}

.lightPurpleColor {
    color:rgb(84, 74, 150);
}

.lightBloodColor {
    color: rgb(155, 54, 54);
}

.lightPinkColor {
    color:rgb(239, 119, 119);
}