/* Fonts */

.exoFont {
    font-family: 'Exo 2', sans-serif;
}

.ebFont {
    font-family: 'EB Garamond', serif;
}

.cormorantGaramondFont {
    font-family: 'Cormorant Garamond', serif;
}

.loraFont {
    font-family: 'Lora', serif;
}

.merriweatherFont{
    font-family: 'Merriweather', serif;
}

.rubikFont {
    font-family: 'Rubik', sans-serif;
}

.spectarlFont {
    font-family: 'Spectral', serif;
}

.latoFont {
    font-family: 'Lato', sans-serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.mandali {
    font-family: 'Mandali', sans-serif;
}