.dasboardContainer{
  display: grid;
  flex-flow: column wrap;
  place-content: center space-evenly;
  align-items: center;
  text-align: center;
  background: rgb(0,254,127);
  background: linear-gradient(172deg, rgb(28, 232, 130) 0%, rgba(0,132,251,1) 100%);
  font-family: Itim, serif;
  font-size: 25px;
  flex-direction: row;
  align-content: center;
}

@media screen and (max-width: 280px) {
  .dasboardContainer  
  {
    width: 285px;
  };
} 



.styleName {
  font-family: 'poppins', serif;
  margin-left: 15px;
  font-size: 50px;
  text-shadow: 0 0 rgb(19, 103, 205);
}

.wordsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: stretch;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.greetingStyle {
  background: -webkit-linear-gradient(80deg, rgb(255, 233, 107) 0%, white  100%);
  font-size: 60px;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.conffetiStyle {
  width: 100%;
  height: 601px;
}